groupby practice
June 27th, 2024

In [3]:
import pandas as pd

# Sample DataFrame
data = {'A': ['foo', 'bar', 'foo', 'bar', 'foo', 'bar'],
        'B': [1, 2, 3, 4, 5, 6]}
df = pd.DataFrame(data)

# Group by column 'A'
# Will group all of the same levels or categories in column A, in this example foo and bar
grouped = df.groupby('A')

# print(type(grouped))
# You are not able to see or print 'grouped', it is doing that in the background 

df

     A  B
0  foo  1
1  bar  2
2  foo  3
3  bar  4
4  foo  5
5  bar  6

In [6]:
# Aggregation
# Aggregation: Apply aggregate functions such as sum(), mean(), count(), etc.
# grouped is a df that has combined all same variables in column A and then it will add all the corresponding number
# in column B
# Returns a df called grouped_sum
grouped_sum = grouped.sum()
# print(type(grouped_sum))
# print(grouped_sum)

<class 'pandas.core.frame.DataFrame'>